@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  color: $mainColor;
  background-color: $whiteColor;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
