main{
  flex: 1 1 auto;
}

.main {
  padding-top: 60px;
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 767px) {
    max-width: 767px;
    padding: 0 30px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    margin-right: 30px;
    margin-bottom: 32px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .item {
    max-width: calc((100% - 2 * 16px) / 3);
    margin-right: 16px;
    margin-bottom: 32px;

    &:nth-child(2n) {
      margin-right: 16px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.hero__title {
  color: black;
  text-align: center;
  display: block;
  visibility: none;
}

.photo__wrapper {
  border-radius: 5px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    width: 280px;
    min-height: 402px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    min-height: 455px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    min-height: 574px;
  }
}

.img__link {
  display: block;

  @media screen and (min-width: 768px) {
    width: 395px;
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    min-height: 574px;
  }

  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all ease-in 550ms;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.data__content {
  padding-top: 12px;

  .title {
    color: black;
    font-size: 12px;
    line-height: 1.2;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 1280px) {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .text {
    color: #ff6b08;
    font-size: 12px;
    line-height: 1.2;
    max-width: 280px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1280px) {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;

      max-width: 395px;
    }
  }

  .card-raiting {
    display: inline-block;
    padding: 3px 11px;

    font-size: 12px;
    line-height: 1.2;
    background-color: #ff6b08;
    color: white;

    border-radius: 5px;
    margin-left: 8px;
  }
}

.wrapper-holder {
  text-align: center;
}

.wrapper-holder.is-hidden {
  display: none;
}

.img-holder {
  max-width: 100vw;
}
