.pagination {
  display: flex;
  font-weight: 500;
  //   margin: 0, auto;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  @media screen and (min-width: 320px) {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}

.pagination__link {
  height: 40px;
  width: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $mainColor;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--active {
    height: 40px;
    width: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 5px;
    background: $accentColor;
    color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.arrow {
  height: 40px;
  width: 40px;
  font-weight: 500;

  border-radius: 5px;
  background: $whiteColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination__link--first,
.pagination__link--last,
.pagination__link--point {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.pagination__link--point {
  height: 40px;
  width: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $mainColor;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
