.scroll__wrapper {
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;

  transition: 1s;
}

.scroll__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  border: 1px solid rgb(255 106 7);
  background-color: transparent;
  box-shadow: 1px 1px 10px rgba(255, 106, 7, 0.2);

  .scroll {
    width: 70px;
    color: rgb(255 106 7);
  }
}

.scroll__isHiden {
  opacity: 0;
}
