.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  transition: 600ms;

  opacity: 0;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }
}

.spinner {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  transform: translate(-50%, -50%);
  transform-origin: center;
  animation: spin 1500ms linear infinite;
  stroke: $accentColor;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);

    stroke: $whiteColor
  }
  50% {
      stroke: $accentColor;

  }
  100% {
    transform: rotate(360deg);
    stroke: $whiteColor

  }
}
