.conteiner,
.conteiner-library {
  position: relative;
}

.light {
  position: absolute;
  right: 30px;
  top: 80px;
  // display: none;

  @media screen and (min-width: 768px) {
    // display: block;
    right: 30px;
  top: 123px;
  }
}

.btn-theme {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: none;

  cursor: pointer;
}

.dark-theme {
  .data__content {
    .title {
      color: white;
    }
  }
}
