@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  max-width: 100vw;
  height: 230px;
  background-image: url("../images/header_mob.jpg");
  background-size: 230px 320px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header_mob2x.jpg");
  }
}
@media screen and (min-width: 320px) {
  .header {
    max-width: 100vw;
    height: 216px;
    background-image: url("../images/header_tablet.jpg");
    background-size: 216px, 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header_tablet2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 100vw;
    background-image: url("../images/header_desktop.jpg");
    background-size: 216px, 1280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header_desktop2x.jpg");
  }
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding: 44px 22px;
}
@media screen and (min-width: 320px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    padding: 45px 33px;
  }
}

.logo {
  cursor: pointer;
  stroke: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
  }
}

.logo__title {
  display: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo__title {
    display: block;
    margin-left: 8px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nan__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.nan__item:first-child {
  margin-right: 40px;
}

.active {
  border-bottom: 3px solid #ff001b;
}

.notif {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}
@media screen and (min-width: 320px) {
  .notif {
    text-align: center;
    line-height: 1.14;
  }
}

.form {
  width: 280px;
  max-width: 100%;
  border-bottom: 0.5px solid #ffffff;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .form {
    margin: 0 auto;
    width: 336px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .form {
    width: 394px;
  }
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  width: 100%;
}

.input::-moz-placeholder {
  display: block;
  color: #ffffff;
}

.input:-ms-input-placeholder {
  display: block;
  color: #ffffff;
}

.input::placeholder {
  display: block;
  color: #ffffff;
}

.input::-moz-placeholder {
  color: #ffffff;
}

.input:-ms-input-placeholder {
  color: #ffffff;
}

.input::placeholder {
  color: #ffffff;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.conteiner,
.conteiner-library {
  position: relative;
}

.dark-theme {
  background-color: rgb(29, 33, 37);
  transition: all 500ms;
}

.light {
  position: absolute;
  right: 30px;
  top: 80px;
}
@media screen and (min-width: 768px) {
  .light {
    right: 30px;
    top: 123px;
  }
}

.btn-theme {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.btn-theme .theme-night-icon {
  display: none;
}

.dark-theme .btn-theme,
.light-theme .btn-theme {
  display: flex;
}

.dark-theme .data__content .title {
  color: white;
  transition: all 300ms;
}
.dark-theme .pagination__link,
.dark-theme .pagination__link--point {
  color: white;
  transition: all 300ms;
}

.dark-theme .theme-night-icon {
  display: block;
}

.dark-theme .theme-light-icon {
  display: none;
}

.light-theme .theme-night-icon {
  display: none;
}

.light-theme .theme-light-icon {
  display: block;
}

.dark-theme .modal {
  background-color: rgb(29, 33, 37);
  color: white;
}
.dark-theme .movies-modal__close-btn .movies-modal__close-icon {
  fill: white;
}
.dark-theme .modal__btns__button {
  color: white;
  border: 1px solid white;
}
.dark-theme .movie-modal__vote-count {
  color: black;
}

.dark-theme .footer-container {
  color: white;
  background-color: rgb(18, 19, 21);
}
.dark-theme .copyright-logo, .dark-theme .footer-text {
  color: white;
}

.scroll__wrapper {
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;
  transition: 1s;
}

.scroll__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgb(255, 106, 7);
  background-color: transparent;
  box-shadow: 1px 1px 10px rgba(255, 106, 7, 0.2);
}
.scroll__link .scroll {
  width: 70px;
  color: rgb(255, 106, 7);
}

.scroll__isHiden {
  opacity: 0;
}

.main {
  padding-top: 60px;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 767px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list .item {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    margin-right: 30px;
    margin-bottom: 32px;
  }
  .item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .item {
    max-width: calc((100% - 32px) / 3);
    margin-right: 16px;
    margin-bottom: 32px;
  }
  .item:nth-child(2n) {
    margin-right: 16px;
  }
  .item:nth-child(3n) {
    margin-right: 0;
  }
}
.hero__title {
  color: black;
  text-align: center;
  display: none;
}

.photo__wrapper {
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .photo__wrapper {
    width: 280px;
    height: 402px;
  }
}
@media screen and (min-width: 768px) {
  .photo__wrapper {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .photo__wrapper {
    width: 395px;
    height: 574px;
  }
}

.img__link {
  display: block;
}
.img__link .img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in 550ms;
}
.img__link .img:hover {
  transform: scale(1.05);
}

.data__content {
  padding-top: 12px;
}
.data__content .title {
  color: black;
  font-size: 12px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .data__content .title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.data__content .text {
  color: #ff6b08;
  font-size: 12px;
  line-height: 1.2;
  max-width: 280px;
}
@media screen and (min-width: 1280px) {
  .data__content .text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    max-width: 395px;
  }
}

.wrapper-holder {
  text-align: center;
}

.wrapper-holder.is-hidden {
  display: none;
}

.img-holder {
  max-width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  transition: background-color 300ms;
}

.footer-container {
  font-style: normal;
  background: #f7f7f7;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
  height: 100px;
  align-items: center;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .footer-container {
    height: 77px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.19;
    margin: auto;
  }
}

.footer-text {
  margin-right: 4px;
}
@media screen and (max-width: 767px) {
  .footer-text {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 28px;
  }
}

.copyright-accent {
  color: #ff6b08;
  font-weight: 600;
}

.copyright-logo {
  color: black;
  font-weight: 600;
  margin-right: -4px;
  background-color: transparent;
}

.footer-icon {
  margin: 0 10px;
  fill: #ff6b08;
  transition: fill 300ms;
  transform: scale(1.5);
  -webkit-animation: heart-animate 1500ms infinite 1500ms;
          animation: heart-animate 1500ms infinite 1500ms;
}

@-webkit-keyframes heart-animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heart-animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.footer-button {
  padding-left: 5px;
  padding-right: 5px;
  color: #545454;
  text-decoration: underline;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #b98d6e;
  border-radius: 5px;
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: rgba(231, 155, 197, 0.3);
  transition: 1s;
  transform: opacity(1);
}

.modal-overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.team-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 65px;
  max-width: 100%;
  max-height: 95%;
  background-image: url("../images/ua.jpg");
  background-size: auto;
  background-repeat: round;
  overflow-y: auto;
}

.team-audio {
  top: 200px;
  left: 100px;
  right: 20px;
  width: 150px;
  height: 25px;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 1s;
  transform: scale(1);
  cursor: pointer;
}

.team-modal__button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 1s;
  transform: scale(1);
  cursor: pointer;
}

.team-modal__button:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.close-icon {
  fill: black;
  transition: 1s;
  transform: scale(1);
}

.team-modal__button:hover .close-icon {
  fill: #ff6b08;
  border-color: #ff6b08;
}

.team-title {
  border-color: rgba(0, 0, 0, 0.1);
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.779);
  border-radius: 70px;
  filter: drop-shadow(4px 4px 4px rgba(221, 117, 19, 0.808));
  box-shadow: 0 0 2px rgba(221, 117, 19, 0.808);
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: black;
  text-transform: none;
  text-decoration: blink;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 480px) {
  .team-title {
    font-size: 25px;
  }
}

.team-title-letter {
  color: orange;
}

.team-card {
  justify-content: center;
  gap: 50px;
}
.team-card__item {
  background-color: rgba(255, 255, 255, 0.779);
  border-radius: 70px;
  filter: drop-shadow(4px 4px 4px rgba(221, 117, 19, 0.808));
  box-shadow: 0 0 2px rgba(221, 117, 19, 0.808);
  height: 100%;
  padding-bottom: 2px;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid orange;
}
.team-card__item:hover {
  box-shadow: 0 0 20px rgba(82, 81, 81, 0.5);
  transform: scale(1.03);
}
.team-card__img {
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5%;
  width: 148px;
  border-radius: 50%;
  background-size: cover;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-role {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: black;
}

.team-contact {
  display: block;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-card {
    display: block;
  }
  .team-card__item {
    margin: 0 auto;
    max-width: 320px;
  }
  .team-card__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .team-name {
    font-family: Georgia, serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
  }
  .team-contact {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .team-card {
    display: flex;
    flex-wrap: wrap;
  }
  .team-card__item {
    max-width: calc((100% - 40px) / 2);
  }
  .team-name {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    color: black;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .team-card__item {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .team-card__item:nth-child(odd) {
    margin-right: -30px;
  }
}
@media screen and (min-width: 1024px) {
  .team-card {
    flex-wrap: wrap;
    gap: 50px;
  }
  .team-card__item {
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
  }
  .team-card__item:last-child {
    margin-right: 0px;
  }
  .team-card__item:nth-child(4) {
    margin-right: 0px;
  }
  .team-name {
    font-size: 14px;
  }
  .team-role {
    font-size: 12px;
  }
}
.sosial-link {
  border-radius: 60%;
}
.sosial-link:hover {
  background-color: rgb(228, 228, 228);
  fill: #ff6b08;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-library {
  max-width: 100vw;
  height: 230px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/Rectangle_mob.jpg");
  background-size: 230px 320px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/Rectangle_mob2x.jpg");
  }
}
@media screen and (min-width: 320px) {
  .header-library {
    max-width: 100vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/Rectangle_tablet.jpg");
    background-size: 216px, 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/Rectangle_tablet2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header-library {
    max-width: 100vw;
    height: 216px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/Rectangle_desktop.jpg");
    background-size: 216px, 1280px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/Rectangle-desktop2x.jpg");
  }
}

.header-library__logo {
  display: flex;
  margin-right: auto;
}

.header-library__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.header-library__title {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-library__title {
    display: block;
    margin-left: 8px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
  }
}

.conteiner-library__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.header-library-nav-list__page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-library-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.header-library-nan__item {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.header-library-nan__item:not(:last-child) {
  margin-right: 40px;
}
.header-library-nan__item--current {
  position: relative;
}
.header-library-nan__item--current::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -2px;
  left: 0;
  height: 3px;
  background-color: #ff001b;
  border-radius: 2px;
}

.header-library-nav__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.conteiner-library {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding: 44px 22px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .conteiner-library {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner-library {
    max-width: 1280px;
    padding: 44px 32px;
  }
}

.header-library__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-top: 62px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header-library__list {
    padding-top: 40px;
  }
}

.header-library__btn {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  /* or 133% */
  display: inline-block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-image: none;
  background: transparent;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.header-library__btn--active {
  background-color: #ff6b08;
  border: 1px solid #ff6b08;
  box-shadow: 0 0 20px rgba(255, 107, 1, 0.5);
}
.header-library__btn:hover {
  background-color: #ff6b08;
  border: 1px solid #ff6b08;
  box-shadow: 0 0 20px rgba(255, 107, 1, 0.5);
}
.header-library__btn:first-child {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .header-library__btn {
    width: 148px;
    height: 44px;
  }
  .header-library__btn:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header-library__btn {
    width: 148px;
  }
  .header-library__btn:first-child {
    margin-right: 16px;
  }
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  transition: 600ms;
  opacity: 0;
  pointer-events: none;
}
.overlay.is-open {
  opacity: 1;
  pointer-events: initial;
}

.spinner {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  transform: translate(-50%, -50%);
  transform-origin: center;
  -webkit-animation: spin 1500ms linear infinite;
          animation: spin 1500ms linear infinite;
  stroke: #ff6b08;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    stroke: #ffffff;
  }
  50% {
    stroke: #ff6b08;
  }
  100% {
    transform: rotate(360deg);
    stroke: #ffffff;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    stroke: #ffffff;
  }
  50% {
    stroke: #ff6b08;
  }
  100% {
    transform: rotate(360deg);
    stroke: #ffffff;
  }
}
.pagination {
  display: flex;
  font-weight: 500;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 320px) {
  .pagination {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}

.pagination__link {
  height: 40px;
  width: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagination__link--active {
  height: 40px;
  width: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
  background: #ff6b08;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  height: 40px;
  width: 40px;
  font-weight: 500;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .pagination__link--first,
.pagination__link--last,
.pagination__link--point {
    display: none;
  }
}

.pagination__link--point {
  height: 40px;
  width: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 40px);
  padding: 48px 20px 40px 20px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .modal {
    max-height: calc(100vh - 40px);
    overflow-y: scroll;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 806px;
    padding: 40px 12px;
  }
}

.movies-modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.movies-modal__close-btn:hover, .movies-modal__close-btn:focus {
  cursor: pointer;
  color: #ff6b08;
}

.movies-modal__close-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: black;
}

@media screen and (min-width: 768px) {
  .movie-modal__content {
    display: flex;
    align-items: flex-start;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.movie-modal__img {
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .movie-modal__img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .movie-modal__img {
    width: 264px;
    margin-right: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-modal__img {
    width: 375px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movie-modal__text {
    max-width: 260px;
  }
}

.movie-modal__title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .movie-modal__title {
    font-size: 30px;
  }
}

.movie-modal__figures {
  display: flex;
  margin-bottom: 20px;
}

.movie-modal__properties {
  display: block;
  flex-shrink: 0;
  margin-right: 40px;
  color: #8c8c8c;
}
@media screen and (min-width: 1280px) {
  .movie-modal__properties {
    margin-right: 80px;
  }
}
.movie-modal__properties li {
  font-size: 12px;
  font-weight: 500;
}
.movie-modal__properties li:not(:last-child) {
  margin-bottom: 8px;
}

.movie-modal__values {
  display: block;
}
.movie-modal__values:first-child {
  color: #8c8c8c;
}
.movie-modal__values li {
  font-size: 12px;
  font-weight: 500;
}
.movie-modal__values li:not(:last-child) {
  margin-bottom: 8px;
}

.movie-modal__vote-average {
  padding: 1px 9px;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}

.movie-modal__vote-count {
  padding: 1px 5px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.movie-modal__about--title {
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 500;
  text-transform: uppercase;
}

.movie-modal__about--text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.67;
  font-weight: 500;
}

.modal__watch-button {
  padding: 8px 10px;
  margin-bottom: 8px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 1280px) {
  .modal__watch-button {
    padding: 12px 15px;
  }
}
.modal__watch-button:hover, .modal__watch-button:focus {
  color: #ff6b08;
  transform: scale(1.03);
}

.movies-modal__play-icon {
  fill: currentColor;
  flex-shrink: 0;
  margin-right: 5px;
}

.modal__btns__button {
  height: 44px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 110px;
}
.modal__btns__button.active {
  color: #ffffff;
  border-color: #ff6b08;
  background-color: #ff6b08;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
.modal__btns__button:hover {
  color: #ffffff;
  border-color: #ff6b08;
  background-color: #ff6b08;
  transform: scale(1.03);
}
@media screen and (min-width: 480px) {
  .modal__btns__button {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__btns__button {
    width: 136px;
  }
}
.modal__btns__button:first-child {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .modal__btns__button:first-child {
    margin-right: 15px;
  }
}

.modal__btns {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .modal__btns {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=index.css.map */