@import './variables';
@import './mixins';
@import './common';
@import './header';
@import './theme_dark';
@import './scroll';
@import './main';
@import './footer';
@import './team-modal.scss';

@import './header_libery';
@import './spinner';
@import './pagination';

@import './modal-movie';

@import './backdrop';
