<section class="main">
  <div class="container">
    <h1 class="hero__title">Films list</h1>
    <ul class="list">
      <!-- <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li>
      <li class="item">
        <div class="photo__wrapper">
          <a class="img__link" href="#"
            ><img class="img" src="#" alt="" width="395"
          /></a>
        </div>
        <div class="data__content">
          <h3 class="title">MOON</h3>
          <p class="text">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </li> -->
    </ul>
  </div>
</section>
