<footer class="footer">
  <div class="footer-container">
    <p class="footer-text">&copy; 2022 | All Rights Reserved |</p>
    <p>
      Developed with
      <svg class="footer-icon" width="14" height="12.88">
        <use href="./images/symbol-defs.svg#icon-Vector-min"></use>
      </svg>
      by&nbsp;
    </p>

    <button data-modal-open class="footer-button" type="button">
          <span class="copyright-logo">&nbsp;Go</span>
          <span class="copyright-accent">IT</span>
          <span class="footer-text">Students</span>
    </button>


  </div>

</footer>


<!-- Модальне вікно команди -->
<div class="modal-overlay is-hidden">
  <div class="team-modal">
    <button type="button" class="team-modal__button">
      <svg class="close-icon">
        <use href="./images/symbol-defs.svg#icon-Vector-min">&#10008;</use>
      </svg>
    </button>



    <h2 class="team-title"> Team <br /> "<span class="team-title-letter">&#9404;</span>ібіскус"</h2>

    <audio class="team-audio" controls src="./audio/gimn_ukrani_-_shche_ne_vmerla_ukrana.mp3"></audio>

    <ul class="team-card">

  <!-- Картка Team Lead -->



      <li class="team-card__item">
        <img
          src="./images/team/PhotoVitaliiShpuntov.jpg"
          alt="PhotoVitaliiShpuntov"
          class="team-card__img"
        />
        <h2 class="team-name">

        &#9445;italii <br />
        &#9442;hpuntov
        </h2>
        <p class="team-role">Team Lead</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/Shpuntoff">
          <svg class="sosial-link" width="50" height="35">
            <use href="./images/symbol-defs.svg#icon-github"></use></svg>
          </a>
      </li>

       <!-- Картка Scrum Master -->
      <li class="team-card__item">
        <img
          src="./images/team/PhotoDenisMirgoyazov.jpg"
          alt="PhotoOksanaBrunko"
          class="team-card__img"
        />
        <h2 class="team-name">
          &#9401;enis  <br />
          &#9436;irgoyazov
        </h2>
        <p class="team-role">Scrum Master</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/Myrhoiazov">
          <svg class="sosial-link" width="50" height="35">
            <use href="./images/symbol-defs.svg#icon-github"></use></svg>
          </a>
      </li>


       <!-- Картка Developer1 -->

      <li class="team-card__item">
        <img
          src="./images/team/PhotoOksanaBrunko.jpg"
          alt="PhotoOksanaBrunko"
          class="team-card__img"
        />
        <h2 class="team-name">
          &#9412;ksana <br />
          &#9399;runko
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/SXuha">
          <svg class="sosial-link" width="50" height="35">
            <use href="./images/symbol-defs.svg#icon-github"></use></svg>
          </a>
      </li>

       <!-- Картка Developer2 -->
      <li class="team-card__item">
        <img
          src="./images/team/PhotoArthurKorchak.jpg"
          alt="PhotoArthurKorchak"
          class="team-card__img"
        />
        <h2 class="team-name">
        &#9398;rthur <br />
        &#9408;orchak
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/ArthurKorchak">
          <svg class="sosial-link" width="50" height="35">
            <use href="./images/symbol-defs.svg#icon-github"></use></svg>
          </a>
      </li>

      <!-- Картка Developer3 -->
      <li class="team-card__item">
        <img
          src="./images/team/PhotoOleksandrAbramov.jpg"
          alt="PhotoOleksandrAbramov"
          class="team-card__img"
        />
        <h2 class="team-name">
          &#9412;leksandr <br />
          &#9398;bramov
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/Abramov21">
          <svg class="sosial-link" width="50" height="35">
            <use href="./images/symbol-defs.svg#icon-github"></use></svg>
          </a>
      </li>

      <!-- Картка Developer4 -->
      <li class="team-card__item">
        <img
          src="./images/team/PhotoAlexanderMoshinskyi.jpg"
          alt="PhotoAlexanderMoshinskyi"
          class="team-card__img"
        />
        <h2 class="team-name">
          &#9398;lexander <br />
          &#9436;oshinskyi
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/shuriuss">
          <svg class="sosial-link" width="50" height="35">
            <use href="./images/symbol-defs.svg#icon-github"></use></svg>
        </a>
      </li>

    </ul>
  </div>
</div>