<header>
  <div class="header">
    <div class="conteiner">
      <nav class="nav">
        <a href=""
          ><svg class="search" width="24" height="24" aria-label="search">
            <use href="./images/symbol-defs.svg#icon-film-min"></use></svg
        ></a>
        <ul class="nav__list">
          <li class="nan__item"><a href="">Home</a></li>
          <li class="nan__item"><a href="">My library</a></li>
        </ul>
      </nav>
      <form action="" class="form">
        <input type="text" placeholder="Movie search" class="input" autofocus />
        <button type="submit" class="button">
          <svg class="search" width="12" height="12" aria-label="search">
            <use href="./images/symbol-defs.svg#icon-search-2-min"></use>
          </svg>
        </button>
      </form>
      <p class="notif">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>
  </div>
</header>
