 
 <!-- Модальне вікно "by GoIT Students" -->
  
 <div class="modal">
    <div class="team-modal">
     
  
    <!--Картки Команди-->
  
      <ul class="team-card">
  
    <!--Картка Team Lead-->
  
        <li class="team-card__item">
          <img
            src=""
            alt="фото Віталія Шпунтова"
            class="team-card__img"
          />
          <h2 class="team-name">
            Віталій <br />
            Шпунтов
          </h2>
          <p class="team-role">Team Lead</p>
          <a
            target="_blank"
            class="team-contact"
            href="https://github.com/Shpuntoff"
            ><svg class="sosial-link" width="35" height="20">
              <use href="./images/symbol-defs.svg#icon-github"></use></svg
          ></a>
        </li>
  
      <!--Картка Scrum Master-->
  
        <li class="team-card__item">
          <img
            src=""
            alt="фото Дениса Миргоязова"
            class="team-card__img"
          />
          <h2 class="team-name">
              Денис  <br />
              Миргоязов
          </h2>
          <p class="team-role">Scrum Master</p>
          <a
            target="_blank"
            class="team-contact"
            href="https://github.com/Myrhoiazov"
            ><svg class="sosial-link" width="35" height="20">
              <use href="./images/symbol-defs.svg#icon-github"></use></svg
          ></a>
        </li>
  
      <!--Картка Developer1-->
  
        <li class="team-card__item">
          <img
            src="./images/team/PhotoOksanaBrunko.jpg"
            alt="фото Оксани Брунько"
            class="team-card__img"
          />
          <h2 class="team-name">
            Оксана <br />
            Брунько
          </h2>
          <p class="team-role">Developer</p>
          <a
            target="_blank"
            class="team-contact"
            href="https://github.com/SXuha"
            ><svg class="sosial-link" width="35" height="20">
              <use href="./images/symbol-defs.svg#icon-github"></use></svg
          ></a>
        </li>
  
      <!--Картка Developer2-->
  
        <li class="team-card__item">
          <img
            src="./images/team/PhotoArthurKorchak.jpg"
            alt="фото Артура Корчака"
            class="team-card__img"
          />
          <h2 class="team-name">
              Артур <br />
              Корчак 
          </h2>
          <p class="team-role">Developer</p>
          <a
            target="_blank"
            class="team-contact"
            href="https://github.com/ArthurKorchak"
            ><svg class="sosial-link" width="35" height="20">
              <use href="./images/symbol-defs.svg#icon-github"></use></svg
          ></a>
        </li>
  
        <!--Картка Developer3-->
  
        <li class="team-card__item">
          <img
            src=""
            alt="фото Олександра Абрамова"
            class="team-card__img"
          />
          <h2 class="team-name">
            Олександр <br />
            Абрамов
          </h2>
          <p class="team-role">Developer</p>
          <a
            target="_blank"
            class="team-contact"
            href="https://github.com/Abramov21"
            ><svg class="sosial-link" width="35" height="20">
              <use href="./images/symbol-defs.svg#icon-github"></use></svg
          ></a>
        </li>
  
       <!--Картка Developer4-->
       
        <li class="team-card__item">
          <img
            src=""
            alt="фото Олександра Мошинського"
            class="team-card__img"
          />
          <h2 class="team-name">
            Олександр <br />
            Мошинський
          </h2>
          <p class="team-role">Developer</p>
          <a
            target="_blank"
            class="team-contact"
            href="https://github.com/shuriuss"
            ><svg class="sosial-link" width="35" height="20">
              <use href="./images/symbol-defs.svg#icon-github"></use></svg
          ></a>
        </li>

      </ul>
    </div>
  </div>

